.RData
*.Rhistory
.Rproj.user/DEA5E02B/pcs/files-pane.pper
*.pper
.Rproj.user/DEA5E02B/sdb/per/t/7C1BF384
.Rproj.user/DEA5E02B/sdb/prop/238DE452
.Rproj.user/DEA5E02B/sdb/per/t/F5129EEA
*.Rproj
.Rproj.user/DEA5E02B/sdb/prop/INDEX
.Rproj.user/DEA5E02B/sdb/prop/C3DEFA3
.Rproj.user/DEA5E02B/sdb/prop/9BA86780
.Rproj.user/DEA5E02B/sdb/prop/6A6738E6
.Rproj.user/DEA5E02B/presentation/presentation-state-v2
retirement.rmd.md
*.dcf